auto-run.err
auto-run.log
.auto-run.lock
.auto-exec.lock
# OS files
.DS_Store
config.yaml
Thumbs.db
tools/codex-scripts/

# Editor settings
.idea/
.vscode/

# Logs
*.log

# Node artifacts
node_modules/
.pnp/
.pnp.js

# Build outputs
/dist/
/build/

# Cache
.cache/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
